[bumpversion]
current_version = 0.0.9
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:webpack_boilerplate/frontend_template/{{cookiecutter.project_slug}}/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
