name: Unit Tests

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
      - name: Check code style
        run: |
          pre-commit run --all-files

  test_django:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        node-version: [10.x, 12.x, 14.x, 16.x]
        django-version: [2.2, 3.2]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Django ${{ matrix.django-version }}
        run: |
          pip install --upgrade pip
          pip install Django==${{ matrix.django-version }}
      - name: Install dependencies
        run: |
          pip install poetry
          poetry install
          pip install -r tests/requirements/django.txt
      - name: Test with pytest
        run: |
          pytest tests/tests_django

  test_flask:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
        node-version: [10.x, 12.x, 14.x, 16.x]
        flask-version: [1.1.4, 2.0.1]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Flask ${{ matrix.flask-version }}
        run: |
          pip install --upgrade pip
          pip install Flask==${{ matrix.flask-version }}
      - name: Install dependencies
        run: |
          pip install poetry
          poetry install
          pip install -r tests/requirements/flask.txt
      - name: Test with pytest
        run: |
          pytest tests/tests_flask
